/* style.module.css */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
    min-width: 330px;
    background-color: yellow;
    align-items: center;
  }
  
  .logo {
    padding: 10px 20px;
  }
  
  .logo a {
    font-weight: 900;
    color: #111;
  }
  
  .logo a:hover {
    font-weight: 900;
    border-bottom: 2px solid #111;
  }
  
  .sidebarTrigger {
    color: yellow;
  }
  
  @media screen and (max-width: 600px) {
    .sidebarTrigger {
      color: red;
      display: none;
    }
  }
  